body{
    background-position: 40% -20%;
    background-size: 142vw;
    background-image: url(../img/NH.png);
}
footer{
    margin-top: auto;
    position: absolute;
    bottom: 0;
}
.back{
    top: 20vw;
    left: -2vw;
    width: 16vw;
    height: 14vw;
    border: none;
    background-color: #fff;
    padding: 3vw 3vw;
    border-radius: 16%;
    z-index: 2;
    cursor: pointer;
    position: relative;
}
.IPhone{
    height: 100%;
    min-height: 93vw;
    position: relative;
    padding-bottom: 0vw; /* 変更で変えれる*/
    background-color: rgba(255,255,255,0.6)
}
.checkName{
    border: none;
    font-size: 6vw;
    width: 55vw;
    margin: 2vw;
}
.Room02{
    top: 10vw;
    left: 25vw;
    width: 70vw;
    height: 17vw;
    position: relative;
    display: flex;
    z-index: 10;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    background-color: rgba(255,255,255,0.6)
}
.deta02{
    height: 22vw;
    position: relative;
}
.deta02 p{
    margin-top: 0;
}
.deta02 h3{
    top: -3vw;
    left: 4vw;
    position: relative;
}


.dista{
    top: -3vw;
    width: 40vw;
    position: relative;
    display: flex;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    background-color: rgba(255,255,255,0.6)
}
.kyoi{
    height: 13vw;
    width: 90%;
    position: relative;
}
.kyoi p{
    font-size: 14px;
    margin-top: 0;
}
.kyoi h3{
    font-size: 24px;
    top: -3vw;
    left: 4vw;
    position: relative;
}

.posad{
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    border: 1px solid #ffffff;
    padding: 2vw;
    display: flex;
}
.np{
    padding: 2vw;
}
select{
    width: 20vw;
    height: 10vw;
    font-size: 7vw;
    text-align: center;
}
.point{
    padding: 3vw;
    border: 1px solid #fff;
    height:10vw;
    position: relative;
    top: 3vw;
    background-color: rgba(192,192,192,0.85);
}
.point h3{
    font-family:  "Comic Sans MS";
    font-size: 8vw;
    text-align:center;
    position: relative;
    top: -8vw;
}
.share{
    position:relative;
    width: 11vw;
    height: 11vw;
    left: 80vw;
    top: 54vw;
    background-color: #808080;
    border-radius:75px 75px 75px 75px;
    border: none;
    outline: none;
}
a{
    color: #000;
    text-decoration: none;
}
.a {
    overflow: auto;
    border: 1px solid #fff;
    height:40vw;
    padding:5px;
    top: -8vw;
    position: relative;
    background-color: rgba(220,220,220,0.7);
}

.check{
    position: relative;
    left: 9.3vw;
    width: 80%;
    text-align: center;
    border: 3px solid #fff;
    box-shadow: 5px  5px 5px 5px #ccc inset;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5%;
}
.check h3{
    padding: 1vw;
    margin: 0;
}
.round_btn {
    display: flex;
    position: relative;
    left: 78vw;
    top: -11.1vw;
    width: 43px;
    height: 45px;
    border: 2px solid #333; /* 枠の調整 */
    border-radius: 10%;  /* 丸みの度合い */
    background: #ff8b8b; /* ボタンの背景色 */
}

.round_btn::before, .round_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px; /* 棒の幅（太さ） */
    height: 22px; /* 棒の高さ */
    background: #333; /* バツ印の色 */
    cursor: pointer;
}

.round_btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}

.round_btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.record{
    top: -3vw;
    left: 29.5vw;
    height: 15vw;
    width: 40vw;
    text-align: center;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    position:relative;
    background-color: rgba(255,255,255,0.4);
    border-radius:10px 10px 10px 10px;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
footer .btn1{
    position: absolute;
    left: 0;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn2{
    position: absolute;
    left: 32.1vw;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn3{
    position: absolute;
    left: 64.3vw;
    border: none;
    background-color: #fff;
}