body{
    background-position: 40% -20%;
    background-size: 142vw;
    background-image: url(../img/s.jpg);
}

.IPhone{
    height: 100%;
    min-height: 93vw;
    position: relative;
    padding-bottom: 12vw; /* 変更で変えれる*/
    background-color: rgba(255,255,255,0.6)
}
.ham {
    position: relative;
    width: 40px;
    height: 40px;
}
.ham_line {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 5px;
    background-color: #fff;
}
.ham_line1 {
    top: 15px;
}
.ham_line2 {
    top: 28px;
}
.ham_line3 {
    top: 41px;
}
.ham_line {
    transition: all 0.3s;
}
.reload{
    position: relative;
    top: 15vw;
    left: 5vw;
    width: 50px;
    height: 50px;
    border: 10px solid;
    border-right-color: transparent;
    border-radius: 100%;
    box-sizing: border-box;
}

.reload:before{
    position: absolute;
    top: 10px;
    right: -15px;
    content: "";
    height: 50%;
    border: 15px solid transparent;
    border-top: 20px solid;
    background: transparent;
    transform-origin: left top;
    transform: rotate(-40deg);
    box-sizing: border-box;
}

.blue{
    color: blue;
}
.back{
    top: 10vw;
    left: -2vw;
    width: 16vw;
    height: 14vw;
    border: none;
    background-color: #fff;
    padding: 3vw 3vw;
    border-radius: 16%;
    position: relative;
}
.Room02{
    top: vw;
    left: 25vw;
    width: 70vw;
    position: relative;
    display: flex;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    background-color: rgba(255,255,255,0.6)
}
.deta02{
    height: 15vw;
    position: relative;
}
.deta02 p{
    margin-top: 0;
}
.deta02 h3{
    top: -3vw;
    left: 4vw;
    position: relative;
}
a{
    color: #000;
    text-decoration: none;
}
.a {
    border: 1px solid #fff;
    overflow:auto;
    height:115vw;
    padding:5px;
    position: relative;
    top: 5vw;
}

/*==============
LINE風フキダシ
===============*/
/*フレームとフォント*/
.kaiwa.line {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue", "Lucida Sans Unicode", "Arial";
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    overflow: hidden;
}
/*フキダシ共通*/
.kaiwa.line .fukidasi {
    position: relative;
    display: inline-block;
    max-width: 192px;
    margin: 8px 0 0;
    padding: 9px 14px;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;/*はてな用*/
}
/*フキダシ左*/
.kaiwa.line .fukidasi.left {
    float: left;
    margin-left: 62px;
    background: white;
}
/*グループのときのフキダシ*/
.kaiwa.line .name + .fukidasi.left {
    margin-top: 5px;
}
/*フキダシ右*/
.kaiwa.line .fukidasi.right {
    float: right;
    margin-right: 12px;
    background: #f0f0f0;
}
/*相手の名前*/
.kaiwa.line .name {
    clear: right;
    margin-left: 62px;
    color: white;
}
/*ユーザアイコン*/
.kaiwa.line .icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -54px;
    top: -2px;
    border-radius: 20px;
}
/*グループのときのユーザアイコン*/
.kaiwa.line .name + .left .icon {
    top: -1.8em;
}
/*しっぽ共通*/
.kaiwa.line .fukidasi::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 36px;
    top: -21px;
}
/*しっぽ左*/
.kaiwa.line .fukidasi.left:after {
    left: -10px;
    border-radius: 18px 0 6px 18px/18px 0 1px 18px;
    box-shadow: -3px -15px 0 -5px white inset;
}
/*しっぽ右*/
.kaiwa.line .fukidasi.right::after {
    right: -10px;
    border-radius: 0 18px 18px 6px/0 18px 18px 1px;
    box-shadow: inset 3px -15px 0 -5px #f0f0f0;
}
/*フキダシが続いてしっぽがないとき*/
.kaiwa.line .left + .left::after,
.kaiwa.line .right + .right::after {
    content: none;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.Form{
    top: 6.5vw;
    left: -8vw;
    text-align: center;
    position: relative;
}
.Form p{
    font-size: 4vw;
    left: -25vw;
    color: #fff;
    text-shadow: 0 2px 5px #000;
    position: relative;
}
.Form input{
    width: 71vw;
    height: 10vw;
    left: 10vw;
    border: 3px solid #fff;;
    background-color: rgba(255,255,255,0.7);
    box-shadow: -2px 3px 5px rgba(0,0,0,0.5) inset;
}
.arrow{
    position: relative;
    padding: 5vw;
    left: 80vw;
    top: -5vw;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    border-radius:75px 75px 75px 75px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 1vw;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.sample1-1::before{
    left: -0.3vw;
    top: 0.5vw;
    width: 11vw;
    height: 11vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #696969;
    border-top: 2px solid #696969;
    border-right: 2px solid #696969;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sample1-1::after{
    left: 10px;
    width: 10px;
    height: 10px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer .btn1{
    position: absolute;
    left: 0;
    top: 192vw;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn2{
    position: absolute;
    left: 32.1vw;
    top: 192vw;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn3{
    position: absolute;
    left: 64.3vw;
    top: 192vw;
    border: none;
    background-color: #fff;
}