body{
    background-position: 40% -20%;
    background-size: 142vw;
    background-image: url(../img/s.jpg);
}
footer{
    margin-top: auto;
    position: absolute;
    bottom: 0;
}
.IPhone{
    height: 100%;
    min-height: 93vw;
    position: relative;
    padding-bottom: 40vw;
    background-color: rgba(255,255,255,0.6)
}
.ham {
    position: relative;
    width: 40px;
    height: 40px;
}
.ham_line {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 5px;
    background-color: #fff;
}
.ham_line1 {
    top: 15px;
}
.ham_line2 {
    top: 28px;
}
.ham_line3 {
    top: 41px;
}
.back{
    top: 20vw;
    left: -2vw;
    width: 16vw;
    height: 14vw;
    border: none;
    background-color: #fff;
    padding: 3vw 3vw;
    border-radius: 16%;
    position: relative;
    z-index: 1;
}
footer .btn1{
    position: absolute;
    left: 0;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn2{
    position: absolute;
    left: 32.1vw;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn3{
    position: absolute;
    left: 64.3vw;
    border: none;
    background-color: #fff;
}

h1{
    top: 10vw;
    color: #fff;
    font-family:  "Comic Sans MS";
    text-align: center;
    text-shadow: 0 5px 5px #999;
    margin-bottom: 20%;
    position: relative;

}
h2{
    top: -10vw;
    color: #fff;
    font-family:  "Comic Sans MS";
    text-align: center;
    text-shadow: 0 5px 5px #999;
    margin-bottom: 10%;
    position: relative;

}
.my_info img{
    top: -5vw;
    left: 35vw;
    border: 3px solid #fff;
    border-radius: 50px;
    margin-right: 4vw;
    position:relative;
}
.total{
    top: -20vw;
    height: 15vw;
    display: flex;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    position:relative;
    background-color: rgba(255,255,255,0.4)
}
.total p{
    top: -1vw;
    left: 10vw;
    font-family:  "Comic Sans MS";
    position: relative;
}
.total h2{
    top: -1vw;
    left: 21vw;
    position: relative;
}

.fav{
    top: -20vw;
    height: 15vw;
    display: flex;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    position:relative;
    background-color: rgba(255,255,255,0.4)
}
.data{
    top: -20vw;
    height: 15vw;
    display: flex;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    position:relative;
    background-color: rgba(255,255,255,0.4)
}
.dreR{
    top: -20vw;
    height: 15vw;
    display: flex;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    position:relative;
    background-color: rgba(255,255,255,0.4)
}

.fav h2{
    top: -1vw;
    color: #000000;
    text-align: center;
    text-shadow: 0 5px 5px #999;
    margin-bottom: 10%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.data h2{
    top: -1vw;
    color: #000000;
    text-align: center;
    text-shadow: 0 5px 5px #999;
    margin-bottom: 10%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.dreR h2{
    top: -1vw;
    color: #000000;
    text-align: center;
    text-shadow: 0 5px 5px #999;
    margin-bottom: 10%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

button.fav{
    width: 100%;
    top: -15vw;
}

button.data{
    width: 100%;
    top: -10vw;
}

button.dreR{
    width: 100%;
    top: -5vw;
}


