@keyframes fadeDown{
    0%,80%{
        opacity: 0;
        transform: translateY(-20px)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
body{
    background-position: 40% -20%;
    background-size: 142vw;
    background-image: url(../img/cre.jpg);
}
footer{
    margin-top: auto;
    position: absolute;
    bottom: 0;
}
.IPhone{
    height: 100%;
    min-height: 93vw;
    position: relative;
    padding-bottom: 1vw; /* 変更で変えれる*/
    background-color: rgba(255,255,255,0.6)
}
.st{
    position: absolute;
    background: #ccc;
    z-index: 10;
}
.ba{
    width: 65vw;
    height: 35vw;
    z-index: 2;
    position: absolute;
    border: solid 5px #fff;
    border-radius: 5%;
    -webkit-box-shadow: 0 4px 8px #777;
    background-color: rgba(255,255,255,0.8);
}
.ba.className{
    animation: fadeDown 3s;
}
.stop{
    top: -25vw;
    left: 28vw;
    width: 40vw;
    z-index: 1;
    padding: 4vw;
    font-size: 10vw;
    position: absolute;
    border-radius: 10%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0 4px 10px #777;
    background-color: rgba(255,255,255,0.8)
}
.chN{
    text-align: center;
    font-size: 5.5vw;
    margin-bottom: 7px;
    text-shadow: 0 10px 10px #777; 
}
.p2{
    top: 3vw;
    left: 2vw;
    position: relative;
    width: 30vw;
    padding: 4vw;
    border-radius: 5%;
    border: solid 1px #fff;
    -webkit-box-shadow: 0 1px 8px #777;
    background-color: rgba(255,255,255,0.8)
}
.p3{
    top: 3vw;
    left: 2vw;
    position: relative;
    width: 30vw;
    padding: 4vw;
    border-radius: 5%;
    border: solid 1px #fff;
    -webkit-box-shadow: 0 1px 8px #777;
    background-color: rgba(255,255,255,0.8)
}
#view_h{
    top: 20vw;
    left: 63vw;
    padding: 5vw;
    z-index: 1;
    font-size: 5vw;
    position: absolute;
    border-radius: 5%;
    border: solid 5px #fff;
    -webkit-box-shadow: 0 1px 2px #000;
    background-color: rgba(255,255,255,0.8)
}
#view_h.cla{
    top: 10vw;
    left: 0;
    width: 90vw;
    padding: 2vw;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 10px 10px #777;
}
footer .btn1{
    position: absolute;
    left: 0;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn2{
    position: absolute;
    left: 32.1vw;
    border: none;
    background-color: #fff;
    border-right: 6px solid #000000;
}
footer .btn3{
    position: absolute;
    left: 64.3vw;
    border: none;
    background-color: #fff;
}